script.
      greeting= '#{greeting}'
      key= '#{key}'
html(lang="en")
 head
  link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  link(rel="stylesheet", href="youtube.css")
  title Youtube Search
    
 body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
   
    script(src="youtube.js")
    include includes/header.pug
div.jumbotron Youtube Search 
.container
  div.search_bar
    input#search(type="text", name="utube")
    button#results Title Search
    h1 Top 10 Videos
div.iframe_video   
  iframe(id="ytplayer0" type="text/html" width="360" height="300"
    src=""
    frameborder="0")
  iframe(id="ytplayer1" type="text/html" width="360" height="300"
  src=""
  frameborder="0")
  iframe(id="ytplayer2" type="text/html" width="360" height="300"
  src=""
  frameborder="0")
  iframe(id="ytplayer3" type="text/html" width="360" height="300"
  src=""
  frameborder="0")
  iframe(id="ytplayer4" type="text/html" width="360" height="300"
  src=""
  frameborder="0")
  iframe(id="ytplayer5" type="text/html" width="360" height="300"
  src=""
  frameborder="0")
  iframe(id="ytplayer6" type="text/html" width="360" height="300"
  src=""
  frameborder="0")
  iframe(id="ytplayer7" type="text/html" width="360" height="300"
  src=""
  frameborder="0")
  iframe(id="ytplayer8" type="text/html" width="360" height="300"
  src=""
  frameborder="0")
  iframe(id="ytplayer9" type="text/html" width="360" height="300"
  src=""
  frameborder="0")
     
        

    

    
